<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="prototipo.italoluis.com.menuc"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="prototipo.italoluis.com.menuc.BloggerStructure.ListadorPosts" />
        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.TelaInicialActivity" />
        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.ListaAutoresActivity" />
        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.AutorizacaoActivity" />
        <activity
            android:name="prototipo.italoluis.com.menuc.MainActivities.EnviarConviteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="prototipo.italoluis.com.menuc.WebViewConfig" />
        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.CriarLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="prototipo.italoluis.com.menuc.BloggerStructure.DetalhesPosts" />
        <activity android:name="prototipo.italoluis.com.menuc.BloggerStructure.QuestionariosPosts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name="prototipo.italoluis.com.menuc.MainActivities.LoginSalvoActivity" />
    </application>

</manifest>